# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build
/build

# Environment variables & secrets
.env*.local
.env
!.env.example

# Testing & logs
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vercel deployment metadata
.vercel

# TypeScript build cache
*.tsbuildinfo
next-env.d.ts

# IDEs & System files
.DS_Store
*.pem
.idea/
.vscode/